    body {
        background: black;
        color: white;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23f9f1f5' fill-opacity='0.07'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    
    a {
        color: white;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif
    }
    
    h1 {
        padding-left: 30%;
        padding-right: 20%;
        font-family: serif;
    }
    
    img {
        width: 40%;
        padding-right: 700px;
        margin-left: 100px;
        margin-bottom: 10px;
    }
    
    .p {
        text-align: justify;
        font-size: 20px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        padding-left: 650px;
        padding-right: 90px;
        position: absolute;
        top: 200px;
    }
    
    .nav-menu {
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding-left: 80px;
    }
    
    ul {
        display: flex;
        text-decoration: none;
        list-style: none;
    }
    
    li {
        padding-top: 2px;
        padding-left: 25px;
        padding-bottom: 10px;
        text-decoration-skip: none;
    }
    
    a:hover {
        border-bottom: 2px solid #ffffff;
    }
    
    .footer {
        background-color: black;
        padding: 5px;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 0%;
        position: static;
    }
    
    .p2 {
        text-align: center;
    }
    
    table {
        padding-top: 5PX;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    th {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 20px;
        font-weight: bold;
        font-family: serif;
        color: white;
        background-color: rgb(13, 51, 18);
    }
    
    td {
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
        background-color: white;
        color: black;
    }
    
    .info {
        text-align: justify;
    }
    
    #td1 {
        background-color: rgb(13, 51, 18);
        color: white;
    }
    
    .banner {
        background: url("./img/banner.jpg") no-repeat center center/cover;
        height: 450px;
        width: 100%;
    }
    
    .pa {
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 20px;
        text-align: justify;
        padding-top: 180px;
        padding-left: 50px;
        padding-right: 50px;
        opacity: 100%;
    }
    
    .titulo {
        margin-top: 0%;
        font-family: cursive;
        font-weight: bold;
        color: white
    }
    
    .suma {
        background-color: white;
        color: black;
        border: 2px solid red;
        width: 70px;
        height: 30px;
        font-size: 15px;
        position: absolute;
        margin-top: 100px;
        margin-left: 330px;
        font-family: cursive;
        font-weight: bold;
    }
    
    .suma:hover {
        background-color: red;
        /* Green */
        color: white;
    }
    
    .resta {
        background-color: white;
        color: black;
        border: 2px solid rgb(33, 33, 214);
        width: 70px;
        height: 30px;
        font-size: 15px;
        position: absolute;
        margin-top: 100px;
        margin-left: 420px;
        font-family: cursive;
        font-weight: bold;
    }
    
    .resta:hover {
        background-color: rgb(33, 33, 214);
        ;
        /* Green */
        color: white;
    }
    
    .multi {
        background-color: white;
        color: black;
        border: 2px solid rgb(11, 131, 41);
        width: 120px;
        height: 30px;
        font-size: 15px;
        position: absolute;
        margin-top: 100px;
        margin-left: 500px;
        font-family: cursive;
        font-weight: bold;
    }
    
    .multi:hover {
        background-color: rgb(11, 131, 41);
        color: white;
    }
    
    .div {
        background-color: white;
        color: black;
        border: 2px solid rgb(238, 216, 20);
        width: 100px;
        height: 30px;
        font-size: 15px;
        position: absolute;
        margin-top: 100px;
        margin-left: 640px;
        font-family: cursive;
        font-weight: bold;
    }
    
    .div:hover {
        background-color: rgb(238, 216, 20);
        color: white;
    }
    
    .suma:active {
        transform: translateY(4px);
    }
    
    .resta:active {
        transform: translateY(4px);
    }
    
    .multi:active {
        transform: translateY(4px);
    }
    
    .div:active {
        transform: translateY(4px);
    }
    
    #numero1 {
        position: absolute;
        margin-left: 500px;
        height: 20px;
    }
    
    #numero2 {
        position: absolute;
        margin-top: 40px;
        margin-left: 500px;
        height: 20px;
    }
    
    .numero1 {
        position: absolute;
        margin-left: 365px;
    }
    
    .numero2 {
        position: absolute;
        margin-top: 40px;
        margin-left: 365px;
    }
    
    .formulario {
        margin-left: 400px;
        font-family: Georgia, 'Times New Roman', Times, serif
    }
    
    .banner2 {
        border: 2px solid rgb(57, 57, 255);
        width: 25%;
        height: 20px;
        padding: 8px;
        margin-left: 780px;
        position: absolute;
        margin-top: 180px;
        font-size: 20px;
    }
    
    .rt {
        width: 120px;
        margin-left: 10px;
        border: none;
        padding-right: 40px;
        position: absolute;
        text-align: center;
        background: center;
        color: white;
        font-size: 22px;
    }