body {
    background: black;
    color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23d70f0f' fill-opacity='0.11'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
    padding-left: 20%;
    padding-right: 20%;
    font-family: serif;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-right: 700px;
    margin-left: 45px;
    margin-bottom: 10px;
}

.p {
    text-align: justify;
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 680px;
    padding-right: 60px;
    position: absolute;
    top: 170px;
}

.p2 {
    text-align: center;
}

.social {
    position: absolute;
    top: 800px;
    width: 100%;
    margin: 0px;
    background-color: rgb(0, 0, 0);
}

.social .footer {
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links i {
    margin: 10px;
    font-size: 2rem;
}